/* ===== POST IT INPUTS ===== */

.postIts {
    width: 75%;
}

.noteList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

.noteList li {
    width: 180px;
    background: #f1c40f;
    box-shadow: 0 1px 5px #222;
    margin: 10px;
    padding: 10px;
    word-wrap: break-word;
    position: relative;
    @media (max-width: 720px) {
        width: 80%;
    }
    h2 {
        font-size: 2rem;
        color: #2c3e50;
        text-transform: uppercase;
        position: relative;
        &:after {
            content:'';
            width: 100%;
            position: absolute;
            bottom: -5px;
            left: 0;
            border-bottom: 1px solid #222;
        }
    }
    p {
        font-size: 1.6rem;
        color: #2c3e50;
    }
}

.noteList button {
    font-size: 1.5rem;
    color: #c0392b;
    background: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}